<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>CRUD | Home</title>
  </head>
  <body>
    <h1>Oscar's CRUD App</h1>
    <br/>
    <div>
      <button><a href="/person/list">Persons</a></button>
      <button><a href="/client/list">Clients</a></button>
    </div>
    <br/>
    <h2>Completed Features:</h2>
    <ul>
      <li>The user should be able to create, edit, delete and list Clients.</li>
      <li>Clients should have a company name, website URI, phone number, and physical/mailing address.</li>
      <li>Clients can have zero, one, or multiple associated contacts.</li>
    </ul>
    <br/>
    <h2>Semi-implemented Features:</h2>
    <ul>
      <li>When editing a person, the user should be able to choose the associated client.</li>
      <li>When viewing a person, the associated client should be shown.</li>
      <li>When viewing a client, the associated contacts should be shown.</li>
      <li>When editing a client, the user should be able to add or remove associated contacts.</li>
    </ul>
    <p>NOTE: though technically you can add a contact, it is a free text field that isn't wired to communicate with the other class - ran out of time sorting through sharing attributes across classes to populate a dropdown</p>
  </body>
</html>
