<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <title>Create Person</title>
  </head>
  <body>
    <div class="d-flex">
      <a class="p-2" href="/">Homepage</a>
      >
      <a class="p-2" href="/person/list">Persons List</a>
      > Create
    </div>
    <div class="container">
      <div class="col-lg my-auto py-3 mx-auto">
        <h1>Create Person</h1>
      </div>
    </div>
    <th:block th:unless="${#lists.isEmpty(errors)}">
      <div class="container">
        <div class="col-lg my-auto py-3 mx-auto">
          <p>Please correct the following errors in your submission:</p>
          <ul>
            <th:block th:each="error : ${errors}">
              <li>[[${error.toString()}]]</li>
            </th:block>
          </ul>
        </div>
      </div>
    </th:block>
    <div class="container">
      <div class="col-lg my-auto py-3 mx-auto">
        <form action="/person/create" method="POST">
      <br/>
      <label for="firstName">First Name:</label>
      <input id="firstName" type="text" name="firstName" th:value="${person.firstName}"/>
      <br/>
      <label for="lastName">Last Name:</label>
      <input id="lastName" type="text" name="lastName" th:value="${person.lastName}"/>
      <br/>
      <label for="emailAddress">Email Address:</label>
      <input id="emailAddress" type="text" name="emailAddress" th:value="${person.emailAddress}"/>
      <br/>
      <label for="streetAddress">Street Address:</label>
      <input id="streetAddress" type="text" name="streetAddress" th:value="${person.streetAddress}"/>
      <br/>
      <label for="city">City:</label>
      <input id="city" type="text" name="city" th:value="${person.city}"/>
      <br/>
      <label for="state">State:</label>
      <input id="state" type="text" name="state" th:value="${person.state}"/>
      <br/>
      <label for="zipCode">Zip Code:</label>
      <input id="zipCode" type="text" name="zipCode" th:value="${person.zipCode}"/>
      <br/>
      <label for="associatedClient">Associated Client:</label>
      <input id="associatedClient" type="text" name="associatedClient" th:value="${person.associatedClient}"/>
      <br/>
      <input type="submit" name="Submit" value="Submit"/>
    </form>
      </div>
    </div>
    <br/>
  </body>
</html>
