<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Persons List</title>
  </head>
  <body>
    <a href="/">Homepage</a>
    <div>
      <h1>Persons List</h1>
      <button><a href="/person/create">Create New Person</a></button>
    </div>
    <br/>
    <th:block th:unless="${#lists.isEmpty(persons)}">
      <table>
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email Address</th>
            <th>Associated Client</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <th:block th:each="person : ${persons}">
            <tr>
              <td th:text="${person.firstName}">First</td>
              <td th:text="${person.lastName}">Last</td>
              <td th:text="${person.emailAddress}">first.last@email.com</td>
              <td th:if="${person.associatedClient != null}"  th:text="${person.associatedClient}"  style="text-align: center">Associated Client</td>
              <td th:if="${person.associatedClient == null}" th:text="--"  style="text-align: center"></td>
              <td>
                <a th:href="'/person/edit/' + ${person.personId}">Edit</a>
                <a th:href="'/person/delete/' + ${person.personId}">Delete</a>
              </td>
            </tr>
          </th:block>
        </tbody>
      </table>
    </th:block>
    <th:block th:if="${#lists.isEmpty(persons)}">
      <p>No results found.</p>
    </th:block>
    <br/>
  </body>
</html>
